* {
    margin: 0px;
    padding: 0px;
    background: none;
    height: auto;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

}   
body {
    overflow-x: hidden;
    background-color: #f6f4ee;
    font-family: 'MyFont';
}
.header {
    display: flex;
    flex-direction: column  ;
     width: 1900px;

}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 50px;

}

#logo img {
    width: 175px;
    height: 40px;
    padding: 40px 50px;

}

.girl img { 

  position: absolute;
  left: 700px;
  top: 60px;
  height: 580px;
}


.navbar2  {
    display: flex ;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold; 
    justify-content: right ;
    height: 50px;
}
.navbar2 a{
    text-decoration: none;
    color: rgb(63, 63, 63);
    padding:10px 40px;
    border-radius: 10px;
    position: relative;
    top: 30px;
}
.navbar a:hover {    
  background-color: #e54d31;
  color: white;
}
.about {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about p { 
    font-size: 90px;

}
.about  {       
    width: 700px;
    height: 400px;
    padding: 131px 90px;
    position: relative;
    top: -49px;

}


.about p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    height: auto;
    min-height: 0;
    position: relative;
    top: 30px;
    font-weight: bold;


}
.about h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding : 80px 6px ;

}

#btn1 {
    width: 150px;
    height: 50px;
    background-color: #e54d31;
    color: white;
    font-size: 17px;
    border: none;
    overflow: hidden;
}


#nav1:hover {
    background-color: black;
      
    }
.foot {
    width: 100%;
    height: 152px;
    background-color: #4b58b7;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.foot  {
    height: 154px            ;
    position: relative;
    top: 40px;
    text-align: center;
    align-items: center;
}

footer {
    width: 1920px;
    height: 10px;
    position: relative;
    top: -40px;
    color: white;
}

.foot big {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.foot small {
    font-size: 17px;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.foot  {
    position: relative;
    top:35px;
   
}